/* loading */

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}
.before-load .loading {
  opacity: 1;
}
@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}
.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}
@keyframes loading-ani {
  0% {
    stroke-dashoffset: 157;
    opacity: 0;
  }

  100% {
    stroke-dashoffset: -157;
    opacity: 1;
  }
}
.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  fill: transparent;
  stroke-dasharray: 157;
  animation: loading-ani 1s infinite;
}
