@media (max-width: 1200px) {
  .picture {
    width: 50%;
    margin: 0;
    margin-right: 2rem;
  }
  .right {
    width: 50%;
  }
  .btn-rig {
    left: 30%;
  }
}
@media (max-width: 960px) {
  .padding {
    padding: 0 1rem;
  }
  .about {
    padding-bottom: 15%;
  }
  /* .contents-wrap {
    padding-top: 100px;
  } */
  #portfolio {
    padding-top: 3rem;
  }
  .item {
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 23em;
    border-top: none;
    border: none;
  }
  .picture {
    width: 60%;
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .right {
    width: 60%;
    align-items: flex-start;
  }

  .title {
    margin: 1rem 0;
  }
  .inner-text {
    margin-bottom: 1rem;
  }
  .btn {
    margin-top: 2rem;
  }
  .design-con {
    width: 80%;
  }
  .design label {
    width: 40vw;
  }
  .design .prev {
    left: 2%;
  }
  .design .next {
    right: 2%;
  }
  .contact {
    padding-top: 3rem;
  }
  .modal-content {
    height: 50vh;
    width: 90%;
  }
}

@media (max-width: 780px) {
  .qr-code {
    display: none;
  }
  .nav {
    display: none;
  }

  .about-wrap {
    flex-direction: column;
  }
  .about-item {
    width: 100%;
    height: 30vh;
    padding-top: 5%;
  }
  .about-item:nth-child(2) {
    border-top: 0.8px solid var(--color-lightPurple);
    border-bottom: 0.8px solid var(--color-lightPurple);
    border-right: none;
    border-left: none;
  }

  .item {
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 24em;
  }
  .picture {
    margin: 0;
  }
  .design .prev {
    left: 2%;
  }
  .design .next {
    right: 2%;
  }
}
@media (max-width: 500px) {
  #design {
    padding-top: 3rem;
  }
  .header {
    height: 100vh;
  }
  .header-title {
    font-size: 48px;
  }
  .header-wrap {
    padding-top: 35vh;
  }
  .about {
    padding-top: 0;
  }
  .about-item {
    height: 30vh;
  }
  .item {
    border-bottom: 0;
    height: 250px;
  }
  .picture {
    margin: 0;
    margin-bottom: 2rem;
    width: 100%;
  }
  .contents-wrap {
    padding-top: 0;
  }
  .right {
    width: 90%;
  }

  .design-con {
    width: 80vw;
  }
  .design label {
    width: 80vw;
  }
  .design-btn {
    top: 50%;
    width: 30px;
  }
  .design .prev {
    left: 2%;
  }
  .design .next {
    right: 2%;
  }

  .modal-content {
    width: 100%;
    height: 50vw;
  }
  .close-btn {
    top: -4em;
  }
  .contact {
    padding-top: 3rem;
  }
}
