@media (max-width: 1200px) {
  .picture {
    width: 50%;
    margin: 0;
    margin-right: 2rem;
  }
  .right {
    width: 50%;
  }
}
@media (max-width: 960px) {
  .padding {
    padding: 0 1rem;
  }
  .about {
    padding-bottom: 20%;
  }
  .about-item {
  }
  .item {
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 18rem;
  }
  .picture {
    width: 50vw;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .right {
    width: 55vw;
    align-items: flex-start;
  }
  .btn {
    margin-top: 1rem;
  }
}

/* @media (max-width: 760px) {
  .nav {
    display: none;
  }

  .about-wrap {
    flex-direction: column;
  }
  .about-item {
    width: 100%;
    height: 30vh;
    padding-top: 5%;
  }
  .about-item:nth-child(2) {
    border-top: 0.8px solid var(--color-lightPurple);
    border-bottom: 0.8px solid var(--color-lightPurple);
    border-right: none;
    border-left: none;
  }
  .contents-wrap {
  }
} */
