/* header */
.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  /* background-color: white; */
  z-index: 100;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .logo a {
  font-size: 18px;
  font-weight: bold;
} */
.menu-wrap {
  display: flex;
  align-items: center;
  line-height: 80px;
}
.nav-menu a {
  margin-left: 1.5rem;
  font-size: 16px;
  opacity: 0.65;
}

.nav-menu a:hover span {
  border-bottom: 1px dotted black;
}

/* header */

.header {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  text-align: center;
}
.header-wrap {
  padding-top: 260px;
}
.header-wrap > span {
  font-size: 24px;
  font-weight: 600;

  color: #75a571;
}

.header-wrap p {
  padding-bottom: 50px;
  line-height: 150%;
  font-weight: 300;
  opacity: 0.85;
  color: #324315;
}
.header-title {
  font-size: 84px;
  letter-spacing: 2px;
  padding-top: 20px;
  padding-bottom: 35px;
  line-height: 100%;
  font-weight: 600;
  opacity: 0.85;
}

.header .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.menu-title {
  font-size: 34px;
  text-align: center;
  padding-bottom: 50px;
  font-weight: bold;
  color: #324315;
}
/* about */
.about {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}
.about-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15%;
}
.about-item {
  line-height: 160%;
  text-align: start;
  height: 235px;
  width: 34%;
}
.about-item:nth-child(2) {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.about-text {
  height: 100%;
  padding: 10px 90px;
}
.about-text span:nth-child(1) {
  font-size: 14px;
}
.about-text span:nth-child(2) {
  display: block;
  font-size: 18px;
  padding-top: 8px;
  font-weight: 500;
}
.about-text p {
  font-size: 15px;
  position: relative;
  top: 30px;
}
.scroll {
  padding-top: 50vh;
}

/* contents */
.contents-wrap {
  padding-top: 90px;
  background-color: #f1f1f1;
}
.item {
  display: flex;
  height: 270px;
  flex-shrink: 0;
  padding: 90px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.picture {
  width: 490px;
  height: 100%;
  background-color: #ffffff;
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 26px;
  padding-top: 10px;
}
.inner-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}
.ect {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  line-height: 140%;
}

.btn {
  display: inline-block;
  width: 135px;
  height: 50px;
  background-color: #75a571;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 5px;
  cursor: pointer;
  color: white;
}

/* design */
#design {
  background-color: #fff;
}
.design label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 36vh;
  background-color: gray;
  margin: 0 auto;
  z-index: 100;
}

.design input:checked + .modal {
  display: flex;
}
/* modal */
.modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-content {
  background-color: #fff;
  width: 80vw;
  height: 80vh;
  padding: 1em;
  background-image: url(/img/04.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  /* z-index: 100; */
}
.close-btn {
  all: unset;
  position: absolute;
  right: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.close-btn span {
  color: white;
}
